.jumbotron{
  background: url(../img/farm.jpg) center center scroll;
  height:600px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-repeat: no-repeat;
  background-size: auto 100%;*/
  border-bottom: 1px solid #ff6a00;
  text-align: center;
}

h1{
  font-size: 60px;
  font-weight: 800;
}

body{
background-color: rgb(230, 159, 80);
}

.panel{
  background-color: rgb(68, 105, 38);
  text-align: center;
}

.panel-body{
  font-size: 25px;
  font-weight: bold;
}
